{% extends "base.html" %}
{% block content %}

<div class="row clearfix">
	<div class="col-md-12 column">
		<form  method="post" action="post/">{% csrf_token %}
			
			<div class="col-md-8 col-md-offset-2 fielWrapper">
                        {{ form.text.errors }}
        		{{ form.text }}
			</div>
			
        		{{ form.country.as_hidden }}
			<div>
        			<input type="submit" value="post">
			</div>
        	</form>
	</div>
	

	

	<div class="col-md-12 column">

		{% for t in tweet %}
			<div class="well">
				<span>{{ t.text }}</span>
			</div>
		{% endfor %}

	</div>
</div>

{% endblock %}
